<!DOCTYPE html>
<html>
<head>
    <title>{{.State.Story.Title}}</title>
    <meta charset="utf-8">
</head>
<body>
    <h1>{{.State.Story.Title}}</h1>
    <p>{{.State.Story.Description}}.</p>

    {{ if len .State.Narration }}
    <h1>The Story So Far</h1>
    <p>{{.State.Narration}}</p>
    {{ end }}

    <h1>What Next?</h1>
    <p>{{.State.Location.Description}}</p>
    <p>
      {{ range $act  := .State.Actions }}
      <details>
        <summary>
	  {{ $act.Title }}
	</summary>
	{{ $act.Description }}
      </details>
      {{ end }}
    </p>

</body>
</html>
