<!DOCTYPE html>
<html>
<head>
    <title>{{.State.Story.Title}}</title>
    <meta charset="utf-8">
</head>
<body>
    <h1>{{.State.Story.Title}}</h1>
    <p>{{.State.Story.Description}}</p>

    {{ if len .State.Narration }}
    <h1>The Story So Far</h1>
    <p>{{.State.Narration}}</p>
    {{ end }}

    <h1>What Next?</h1>
    <p>{{.State.Location.Description}}</p>
    <form action="/play?game_id={{.GameId}}" method="post">
      <input type="hidden" id="game_id" name="game_id" value="{{.GameId}}">
      {{ range $act  := .State.Actions }}
      <input type="radio" id="{{$act.Id}}" name="action_id" value="{{$act.Id}}">
      <label for="{{$act.Id}}">{{$act.Title}}</label><br>
      <blockquote>{{$act.Description}}</blockquote><br>
      {{ end }}
      <input type="submit" value="Do it!">
    </form>

</body>
</html>
