<!DOCTYPE html>
<html>
<head>
    <title>Testing, testing</title>
    <meta charset="utf-8">
</head>
<body>
    <h1>This is my Hello CRUD page.</h1>
    <p>This page is my proof-of-principle bare-bones warmup exercise
    for dynamic HTML backed by a CRUDdy database. The current time is
      {{.Timestamp}}.</p>

    <h1>Locations</h1>
      {{ range $loc := .Locations }}
      <details>
        <summary> {{ $loc.Title }} </summary>
	{{ $loc.Content }}
      </details>
      {{ end }}
      <h1>Create New Location</h1>
      <form action="{{ .CreateLoc }}" method="POST">
        <input
          id="{{ .CreateLocTitle }}"
          name="{{ .CreateLocTitle }}"
          required
          minlength="10"
          maxlength="100"
        /></br>
        <textarea
          id="{{ .CreateLocContent }}"
          name="{{ .CreateLocContent }}"
          required
          minlength="50"
        >Lorem Ipsum</textarea></br>
        <button>Submit</button>
      </form>

    <h1>Update Location</h1>
    <form action="/location/update" method="POST">
        <label for="location_id_update">Select Location:</label><br/>
        <select id="location_id_update" name="location_id" required>
            <option value="" disabled selected>-- Select a Location --</option>
            {{ range $loc := .Locations }}
            <option value="{{ $loc.Id }}">{{ $loc.Title }}</option>
            {{ end }}
        </select><br/><br/>

        <label for="content_update">New Content:</label><br/>
        <textarea id="content_update" name="content" minlength="50" rows="5" cols="30"></textarea><br/><br/>

        <input type="checkbox" id="delete_location" name="delete" value="true">
        <label for="delete_location">Delete this location</label><br/><br/>

        <button type="submit">Update/Delete Location</button>
    </form>
</body>
</html>
